@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using Microsoft.AspNetCore.Identity
@using System.Security.Claims

@{
	ViewData["Title"] = "Nộp bài";
	var userId = User.FindFirstValue(ClaimTypes.NameIdentifier);
}

<div class="d-flex justify-content-center align-items-center" style="min-height: 65vh">
	<div class="d-flex justify-content-center align-items-center" style="width: 400px; height: 300px; background-color: white; flex-direction: column;">
		@if (ViewData["Error"] == null)
		{
			<h1>Nộp bài thành công!</h1>
			<form method="post" asp-controller="ExamScored" asp-action="ViewResult">
				<input type="hidden" name="ExamId" value="@ViewData["ExamId"]" />
				<input type="hidden" name="examScoredId" value="@ViewData["examScoredId"]" />
				<button type="submit">Xem kết quả</button>
			</form>
		}
		else
		{
			<h1>Nộp bài thất bại!</h1>
			<button>Quay lại trang chủ!</button>
		}
	</div>
</div>
