@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<script src="https://kit.fontawesome.com/dd760d7b93.js" crossorigin="anonymous"></script>

<div class="d-flex align-items-center justify-content-center min-vh-100"
     style="background: linear-gradient(135deg, #3a7bd5, #00d2ff);">
    <div class="card shadow-lg p-4" style="width: 100%; max-width: 400px; border-radius: 1rem;">
        <h3 class="text-center mb-4 fw-bold">🔐 Xác nhận Email</h3>
        <form asp-action="EmailForgotPassword" method="post">
            <div class="mb-3">
                <!-- <label for="Email" class="form-label">Email</label> -->
                <div class="input-group">
                    <span class="input-group-text"><i class="bi bi-envelope-fill"></i></span>
                    <input name="email" type="text" class="form-control" required
                           placeholder="Nhập Email" />
                </div>
            </div>

            @if (ViewData["ErrorMessage"] != null)
            {
                <p style="color:red">@ViewData["ErrorMessage"]</p>
            }

            <button type="submit" class="btn btn-primary w-100 fw-bold mb-3">Xác nhận</button>
        </form>
    </div>
</div>