@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@using Application.DTOs.BasicUser

@{
    ViewData["Title"] = ViewData["Error"] != null ? "Lỗi" : "Đặt lại mật khẩu";
}

@model ResetPasswordDTORequest

<div class="d-flex align-items-center justify-content-center min-vh-100"
     style="background: linear-gradient(135deg, #3a7bd5, #00d2ff);">
    <div class="card shadow-lg p-4" style="width: 100%; max-width: 400px; border-radius: 1rem;">
        @if(ViewData["Error"] != null)
        {
            <div class="text-danger mb-4">
                <i class="bi bi-x-circle-fill" style="font-size: 4rem;"></i>
            </div>
            <h3 class="fw-bold mb-3">Lỗi!</h3>
            <p class="text-muted mb-4">@ViewData["Error"]</p>
        }
        else
        {
            <h3 class="text-center mb-4 fw-bold">🔐 Đặt lại mật khẩu</h3>
            <form asp-action="ResetPassword" method="post">
                <input type="hidden" asp-for="UserId" />
                <input type="hidden" asp-for="Token" />
                <div class="mb-3">
                    <label for="NewPassword" class="form-label">Mật khẩu mới</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="bi bi-envelope-fill"></i></span>
                        <input type="password" class="form-control" asp-for="NewPassword" required />
                    </div>
                </div>

                <div class="mb-3">
                    <label for="ConfirmPassword" class="form-label">Xác nhận mật khẩu</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="bi bi-envelope-fill"></i></span>
                        <input type="password" class="form-control" asp-for="ConfirmPassword" required />
                    </div>
                </div>

                @if (ViewData["ErrorMessage"] != null)
                {
                    <p style="color:red">@ViewData["ErrorMessage"]</p>
                }

                <button type="submit" class="btn btn-primary w-100 fw-bold mb-3">Xác nhận</button>
            </form>
        }
    </div>
</div>