@model Application.DTOs.ForgotPassword.VerifyOTPAndResetPasswordDTO

<form asp-action="ResetPassword" method="post">
    <input asp-for="Email" readonly />
    <input asp-for="OTP" placeholder="OTP" required />
    <input asp-for="NewPassword" type="password" placeholder="Mật khẩu mới" required />
    <button type="submit">Đặt lại mật khẩu</button>
</form>

<p style="color:green">@ViewBag.Message</p>
<p style="color:red">@ViewBag.Error</p>
