@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Thông báo xác nhận";
}

<div class="d-flex align-items-center justify-content-center" style="min-height: 65vh">
    <div class="card shadow-lg p-5 text-center" style="max-width: 500px; width: 100%; border-radius: 1rem;">
        <h3 class="fw-bold mb-3" style="color: #D13D76">Yêu cầu đặt lại mật khẩu</h3>
        <p class="text-muted mb-4">
            Chúng tôi đã gửi một liên kết đến Email của bạn. Vui lòng kiểm tra Email để tiếp tục!
        </p>
    </div>
</div>