@{
    ViewData["Title"] = "Home Page";
}
@section Styles {
    <link rel="stylesheet" href="~/css/custom-home.css" />
}

<section class="hero">
    <h1>Nền tảng hỗ trợ học tập thông minh - Askiverse</h1>
    <p>Học hiệu quả, luyện tập cá nhân hóa, tạo đề nhanh chóng. Hỗ trợ kỹ thuật 24/7</p>
</section>

<section class="features">
    <div class="feature">
        <a asp-controller="Exam" asp-action="AllExams" class="text-decoration-none">
            <h3>📚 Thư viện tài liệu</h3>
            <p>Hàng ngàn tài liệu, bộ đề chất lượng cao từ tiểu học đến đại học, sẵn sàng tải xuống và sử dụng.</p>
        </a>
    </div>
    <div class="feature">
        <h3>🤖 Trợ lý AI</h3>
        <p>Hỗ trợ tạo đề bằng tài liệu PDF, WORD, IMAGE .</p>
    </div>
    <div class="feature">
        <a asp-controller="Exam" asp-action="AllExams" class="text-decoration-none">
            <h3>📝 Ôn luyện & kiểm tra</h3>
            <p>Ôn luyện kiến thức dựa trên tài liệu cung cấp - điểm yếu để cải thiện rõ rệt.</p>
        </a>
    </div>
    <div class="feature">
        <a asp-controller="Forum" asp-action="Index" class="text-decoration-none">
        <h3>👩‍🏫 Diễn đàn forum</h3>
        <p>Kết nối với người dùng giáo viên, học sinh, trao đổi chia sẽ kiến thức tài liệu.</p>
		</a>
    </div>
</section>
